@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #151d24;
  color: #eff3f8;
  font-family: 'Inter', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}